<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todolist.persistence.TodoMapper">

    <resultMap id="todoVo" type="com.example.todolist.domain.TodoVO">
        <id property="taskNo" column="taskno"/>
        <result property="title" column="title"/>
        <result property="done" column="done"/>
    </resultMap>

    <select id="getList" resultType="com.example.todolist.domain.TodoVO">
        select * from todolist
    </select>

    <select id="getById" resultMap="todoVo">
        select * from todolist where taskNo = #{newToDoItemRequest.taskNo}
    </select>

    <insert id="createTodo">
        insert into todolist (title, done) values (#{newToDoItemRequest.title},'0')
    </insert>

    <update id="updateTodo" >
        update todolist set done = #{newToDoItemRequest.done} where taskNo = #{newToDoItemRequest.taskNo}
    </update>
</mapper>
